start/.godot/uid_cache.bin
start/.godot/editor/filesystem_cache8
start/.godot/editor/filesystem_update4
start/.godot/editor/project_metadata.cfg
start/.godot/editor/script_editor_cache.cfg
start/.godot/mono/metadata/ide_messaging_meta.txt
start/.godot/uid_cache.bin
start/.godot/editor/filesystem_cache8
start/.godot/editor/project_metadata.cfg
